@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #FE6F69;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FE6F69;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: #FE6F69;
  font-family: "DM Sans", serif;
}
